<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Điểm danh nhân viên</title>
    <link href="../static/css/chamcong.css" rel="stylesheet">
</head>
<body>
    <div id="chamcong">
        <h1>CHẤM CÔNG CHO NHÂN VIÊN</h1>
        <label>Nhập ID nhân viên</label>
        <input type="text" id="idnv" placeholder="ID nhân viên"><br>
        <label >NHẬP MÃ XÁC THỰC</label>
        <input type="text" id="maxacthuc" placeholder="Nhập mã xác thực của nhân viên">
        <button id="chamCongBtn" onclick="chamcong()">Chấm công</button>
        <div id="content"></div>
    </div>
    <script src="../static/js/chamcong.js"></script>
</body>
</html>
