<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/danhgiamonan.css" rel="stylesheet">
    <title>Đánh giá món ăn</title>
</head>

<body>
    <div id="trangdanhgia">
        <h1>Trang đánh giá món ăn</h1>
        <h2>Để lại đánh giá của bạn</h2>
        <label>Món ăn bạn muốn đánh giá:</label>
        <input type="text" id="tenmon" name="Tên món ăn" placeholder="Nhập tên món ăn">
        <br><br>
        <label>Nhận xét:</label><br>
        <textarea name="comment" id="comment" wrap="soft" placeholder="Để lại đánh giá của bạn về món ăn tại đây"></textarea><br>
        <button type="submit" onclick="danhgia()">Gửi đánh giá</button>
    </div>
    <script src="../static/js/danhgiamonan.js"></script>
</body>

</html>