<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Điểm danh nhân viên</title>
        <link href="../static/css/chamcong.css" rel="stylesheet">
    </head>
    <body>
        <div id="chamcong">
            <h1>CHẤM CÔNG CHO NHÂN VIÊN</h1>
            <label>Nhập ID nhân viên</label>
            <input type="number" id="idnv" placeholder="ID nhan vien">
            <button onclick="chamcong()">Chấm công</button>


        </div>
    <script src="../static/js/chamcong.js"></script>
    </body>
</html>