<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    
</head>
<body>
    <div class="container">
        <h1>Đăng Nhập</h1>
        <form id="loginForm" onsubmit="return dangnhap(event);"> <!-- Thêm event vào dangnhap -->
            <div class="input-group">
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="actions">
                <button type="submit" class="btn login">Đăng nhập</button>
            </div>
        </form>
    </div>
    <script src="../static/js/dangnhap.js"></script>
</body>
</html>
