body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e9ecef;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-bar .time {
    font-size: 16px;
}

.header-bar .title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-bar .admin-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-main{
    width: 60px;
}
.header-bar .admin-section img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.header-bar .admin-section .admin-name {
    font-size: 16px;
}

.header-bar .logout-btn {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}