@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
#btnDatban{
    color: white;
    text-decoration: none;
}
body {
    background-color: #000;
    color: #fff;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

#header {
    width: 100%;
    padding: 0px 30px;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    list-style: none;
    display: flex;
}

#navbar .item {
    margin: 0px 25px;
}

#navbar .item a {
    color: #fff;
    text-decoration: none;
}

#banner {
    width: 100%;
    background-image: url("../images/bg3dark.jpg");
    background-size: cover;
    height: 463px;
    display: flex;
    padding: 0px 133px;
    position: relative;
}

#banner .box-left,
#banner .box-right {
    width: 50%;
}

#banner .box-left h2 {
    font-size: 48px;
    margin-top: 50px;
    color: #fff;
}

#banner .box-left p {
    color: #fff;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a1a;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

#banner .box-left button:hover {
    background: orange;
}

#banner .box-right {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin: 0px 10px;
    animation: animation 3s infinite linear;
    width: 100px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

#banner .box-right img:nth-child(1) {
    animation-delay: 0.5s;
}

#banner .box-right img:nth-child(2) {
    animation-delay: 1s;
    height: 280px;
}

@keyframes animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#menu-section {
    text-align: center;
    padding: 40px 0;
    background-color: #000;
    color: white;
}

#menu-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

#menu-section h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: white;
    margin: 10px auto 0;
}

#service-section {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.service-item {
    flex: 1;
    margin: 0 15px;
    padding: 5px;
    background-color: #1D1A1A;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.service-item p {
    text-align: center;
}

.service-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.service-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}

.service-item p {
    font-size: 14px;
    color: #a4a1a1;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item i {
    font-size: 20px;
    color: #31a746;
    margin-bottom: 10px;
    display: block;
}

.widget-area {
    padding: 60px 0 30px;
}

.widget-row {
    display: flex;
    justify-content: space-between;
}

.widget-row-col {
    width: 15%;
}

.widget-row-col-1 {
    width: 25%;
}

.widget-row>div {
    padding: 0 10px 10px;
}

.widget-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.widget-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: none;
    height: 3px;
    width: 100px;
    background-image: linear-gradient(to right, var(--red), transparent);
}

.widget-row-col-content {
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.widget-social {
    display: flex;
}

.widget-social-item {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.widget-contact-item {
    margin-bottom: 12px;
    list-style: none;
}

.widget-contact-item i {
    transition: transform 0.3s linear;
}

.widget-contact-item a {
    color: #fff;
}

.widget-contact-item:hover i {
    transform: translateX(4px);
}

.widget-social-item:hover {
    background-color: var(--red);
    transform: scale(1.1);
    border: none;
}

.widget-social-item:hover i {
    color: #fff;
}

.widget-social-item i {
    color: #fff;
}

.widget-contact i {
    font-size: 16px;
    margin-right: 10px;
}

.widget-contact span {
    font-weight: 400;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red);
    color: #fff
}

.contact-content {
    margin-left: 10px;
    width: 80%;
    line-height: 1.5;
    font-size: 15px;
}

.copyright-wrap {
    background: #000;
    color: var(--text-color);
    margin: unset;
    padding: 18px 0;
    border-top: 1px solid #e6e6e6;
}

.copyright-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-product {
    width: 25%;
    padding: 10px;
    overflow: hidden;
}

.home-products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.card-product {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

.card-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    position: relative;
}

.card-header strong {
    position: absolute;
    color: #fff;
    background-color: #31a746;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    border-radius: 23px 23px 23px 0px;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

.card-image {
    height: 155px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
}

.card-image:hover {
    transform: scale(1.05);
}

.card-image-link {
    display: block;
    width: 100%;
    height: 100%;
}

.card-content {
    padding: 8px 10px;
    text-align: center;
}

.card-title-link {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.card-footer {
    padding: 5px 10px 10px;
}

.product-price {
    text-align: center;
}

.product-price .current-price {
    color: red;
    font-weight: 600;
    font-size: 15px
}

.product-price .old-price {
    text-decoration: line-through;
    color: #808080;
    font-size: 13px;
    margin-left: 5px;
}

.product-buy {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card-button {
    background-color: #333;
    outline: none;
    border: none;
    width: 85%;
    padding: 7px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.card-button:hover {
    background-color: orange;
}

.card-button i {
    margin-right: 3px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal-content {
    background: #000;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: #fff;
    text-align: center;
    position: relative;
    margin: auto;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    padding: 5px;
}

.modal-content form input,
.modal-content form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-content form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

#search-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

#search-bar {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#filter-category,
#filter-price {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: orange;
}

#order-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}


.order-modal-content {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    color: #000
}


.close-button {
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
}


.order-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.order-details img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.order-modal-content::-webkit-scrollbar {
    width: 8px;
}

.order-modal-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.order-modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-control {
    display: flex;
    justify-content: space-between;
    /* Căn đều hai đầu: giá tiền trái, cụm button phải */
    align-items: center;
    width: 100%;
    /* Đảm bảo phần tử chiếm toàn bộ chiều ngang */
}

.current-price {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    color: red;
}

.quantity-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-control button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.quantity-control button:hover {
    background-color: #e0e0e0;
}

.quantity-control input {
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30px;
    height: 25px;
}


h3.product-title {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
    margin: 0;

}

.total-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.total-price-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.total-price-info span {
    font-size: 16px;
    font-weight: bold;
}

#total-price {
    font-size: 16px;
    font-weight: normal;
    color: red;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: orange;
}

p {
    text-align: left;
    margin: 0;
}
